version: '2.3'
services:
  [user_name]_elecpy:
    image: bmpelab/elecpy:py3.7.13-torch1.13.1-cuda11.4.3-cudnn8-devel-ubuntu20.04
    runtime: nvidia
    container_name: [user_name]_elecpy
    ports:
      - "[user_id*10+n]:8888"
    volumes:
      - ../:/notebooks
      - /data:/data